body 
{
    background-color: #000000;
}

img 
{
    display: block;
    margin: 0 auto;
    width: 30vw;
    height: 200px;
    padding-bottom: 25px;
}

.header 
{
    padding-top: 25px;   
    border-top-style: outset;
    border-top-color: #f0a8a8;
    border-top-width: 5px;
    border-right-style: outset;
    border-right-color: #f0a8a8;
    border-right-width: 5px;
    border-left-style: outset;
    border-left-color: #f0a8a8;
    border-left-width: 5px; 
}

#quote 
{
    padding-top: 10px;
    text-align: center;
    color: #f0a8a8;
    font-family: 'Akronim';
    word-spacing: 5px;
    letter-spacing: 2px;
    border-bottom-style: outset;
    border-bottom-color: #f0a8a8;
    border-bottom-width: 5px;
    border-right-style: outset;
    border-right-color: #f0a8a8;
    border-right-width: 5px;
    border-left-style: outset;
    border-left-color: #f0a8a8;
    border-left-width: 5px; 
}

.content
{
    color: #ffffff;
}

#title
{
    padding: 25px;
    color: #f0a8a8;
    font-family: 'Akronim';
    border-style: outset;
    border-color: #f0a8a8;
    border-width: 5px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

#about
{
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-left: 75px;
    padding-right: 75px;
}

.info
{
    padding-top: 50px;
}

#p1
{
    padding-top: 100px;
}

#login
{
    position: absolute;
    right: 0;
    margin-right: 25px;
    margin-top: 25px;
    background-color: #000000;
    border-style: outset;
    border-color: #f0a8a8;
    cursor: pointer;
    color: #ffffff;
}

.list-type
{
    list-style-type: circle;
}

#chart
{
    margin-right: 25px;
    margin-top: 25px;
    padding: 10px;
    background-color: #000000;
    border-style: outset;
    border-color: #f0a8a8;
    cursor: pointer;
}

.categories
{
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 100px;
    color: #ffffff;
}
