body 
{
    background-color: #000000;
}
img 
{
    display: block;
    margin: 0 auto;
    width: 30vw;
    height: 200px;
    padding-bottom: 25px;
}
.header 
{
    padding-top: 25px;   
    border-top-style: outset;
    border-top-color: #f0a8a8;
    border-top-width: 5;
    border-right-style: outset;
    border-right-color: #f0a8a8;
    border-right-width: 5;
    border-left-style: outset;
    border-left-color: #f0a8a8;
    border-left-width: 5; 
}
#quote 
{
    padding-top: 10px;
    text-align: center;
    color: #f0a8a8;
    font-family: 'Akronim';
    word-spacing: 5px;
    letter-spacing: 2px;
    border-bottom-style: outset;
    border-bottom-color: #f0a8a8;
    border-bottom-width: 5;
    border-right-style: outset;
    border-right-color: #f0a8a8;
    border-right-width: 5;
    border-left-style: outset;
    border-left-color: #f0a8a8;
    border-left-width: 5; 
}
.content
{
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    color: #f0a8a8;
    word-spacing: 2px;
    letter-spacing: 1px;
}
#title
{
    padding-bottom: 15px;
}
.nav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
}
#sidenav a
{
    padding: 10px 10px 10px 50px;
    color: #f0a8a8;
    display: block;
    transition: 0.3s;
}
#sidenav a:hover
{
    color: #ffffff;
}
#sidenav.closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}
@media screen and (max-height: 100%)
{
    .sidenav {padding-top: 15px;}
}
